/* Define CSS variables for light and dark modes */
:root {
    --text-color: rgba(0, 0, 0, 0.85);
    --menu-color: rgba(255, 255, 255, 0.5);
    --background-color: #f0f0f0;
    --overlay-text-color: rgba(255, 255, 255, 0.8);
    --tag-color: rgba(0, 0, 0, 0.5);
    --tag-active-color: tomato;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-color: rgb(120, 120, 120);
    --close-btn-color: rgba(0, 0, 0, 0.85);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgba(255, 255, 255, 0.85);
        --menu-color: rgba(18, 18, 18, 0.5);
        --background-color: #222222;
        --overlay-text-color: rgba(255, 255, 255, 0.8);
        --tag-color: rgba(255, 255, 255, 0.6);
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        --border-color: rgba(255, 255, 255, 0.2);
        --close-btn-color: rgba(255, 255, 255, 0.85);
    }
}

/* Fonts */
@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: 400;
}
  
@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-weight: 700;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Suisse Intl', Arial, sans-serif;
    background-color: var(--background-color);
    overflow: hidden;
}

::selection {
    color: var(--text-color);
    background: tomato;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 10px 15px;
    height: auto; /* Default height */
    transition: height 0.5s ease-in-out;
}

.navigation.expanded {
    height: calc(100% - 20px); /* Height when news-tab is open */
}


/* Existing CSS */
.menu, .filters, .info-menu, .news-tab, .card-bg, .card, .buttons button, .card-bg {
    background-color: var(--menu-color);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    padding: 15px 20px;
    color: var(--text-color);
}

.menu nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;  
    justify-content: space-between;
}

.menu nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    transition: color 0.2s ease;
}

.menu nav ul li a:hover, .menu nav ul li a.active {
    color: tomato;
}

.category {
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
    color: var(--text-color);
}

.tags {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    color: var(--tag-color);
    white-space: nowrap;
}

.tags:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

.tag:hover, .tag.active {
    font-weight: 400;
    color: tomato;
}

/* New CSS for timeline elements */
.timeline-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.timeline-date {
    margin-right: 5px;
}

.timeline-bar {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    width: 100%;
    height: 10px;
}

.timeline-bar .tick {
    background-color: var(--tag-color);
    border-radius: 30px;
}

.timeline-bar .tick {
    width: 5px;
    background-color: var(--tag-color);
    border-radius: 30px;
}

.timeline-bar .tick.active {
    background-color: tomato;
}

/* Overlay Container */
#overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks to pass through */
}

.overlay-text {
    position: absolute;
    color: var(--overlay-text-color);
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Ensure clicks go through the text to the circle */
    transform: translate(-50%, -50%);
}

.superscript {
    font-weight: 300;
    vertical-align: super;
    margin-left: 2px;
}

.info-menu {
    width: 69%;
    height: 580px;
    align-self: flex-end;
}

.info-menu.show {
    display: block;
}

/* Close button for info-menu */
.info-menu .close-btn, .news-tab .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none; /* No background color */
    border: none; /* No border */
    cursor: pointer;
    outline: none; /* Remove the default focus outline */
    transition: transform 0.2s ease; /* Add a slight transition for hover effect */
}

.info-menu .close-btn:hover, .news-tab .close-btn:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.info-menu .close-btn:before, .news-tab .close-btn:before {
    content: '\00d7'; /* Unicode for multiplication sign (×) */
    font-size: 30px; /* Adjust the size as needed */
    font-weight: 100; /* Light weight for a minimalist look */
}

.hidden {
    display: none;
}   

/* News Tab */
.news-tab {
    background-color: var(--menu-color);
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    visibility: hidden;
    bottom: 0; /* Align the bottom edge */
}

.news-tab.show {
    transform: translateY(0);
    visibility: visible;
    display: block; /* Show in the layout when visible */
    z-index: 2; /* Ensure it is above other elements */
}

.news-tab.hide {
    transform: translateY(100%);
    visibility: hidden;
}

.news-tab h1 {
    font-size: 2.5em;
    color: var(--text-color);
    margin-top: 20px;
}

.card {
    padding: 0;
    transition: box-shadow 0.3s ease;
    aspect-ratio: 2.5 / 4;
    color: rgba(0, 0, 0, 0.85);
    position: relative;
    overflow: hidden;
}
.card:hover {
    box-shadow: var(--box-shadow);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the entire card without distortion */
    position: absolute; /* Position the image absolutely within the card */
    top: 0;
    left: 0;
    aspect-ratio: 2.5 / 4;
}

.card-bg {
    border-radius: 0;
    height: 25%;
    transition: height 0.5s ease;
    box-sizing: border-box;
}
.card:hover .card-bg {
    height: 100%;   
}

.card h2 {
    margin: 0;
    color: var(--text-color);
}

.card .info {
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    color: var(--tag-color);
}

.card-bg .card-content {
    opacity: 0%;
    transition: opacity 0.5s ease;
    padding: 20px 15px;
}

.card:hover .card-bg .card-content {
    opacity: 1;
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box; 
    bottom: 0px;
    width: 100%;
    padding: 10px 15px;
}

.buttons button {
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.featured-stories, .all-news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.featured-stories .card {
    width: 30%;
}

.all-news .card {
    width: 22%;
}

.featured-stories h2 {
    font-size: 2.2em;
}

.all-news h2 {
    font-size: 1.7em;
}
