/* Define CSS variables for light and dark modes */
:root {
    --text-color: rgba(0, 0, 0);
    --menu-color: rgba(255, 255, 255, 0.75);
    --background-color: #F3F2F8;
    --overlay-text-color: rgba(255, 255, 255, 0.75);
    --tag-color: rgba(0, 0, 0, 0.5);
    --tag-active-color: tomato;
    --box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    --border-color: rgb(120, 120, 120);
    --close-btn-color: rgba(0, 0, 0, 0.85);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgba(255, 255, 255, 0.85);
        --menu-color: rgba(7, 7, 7, 0.5);
        --background-color: #313131;
        --overlay-text-color: rgba(255, 255, 255, 0.8);
        --tag-color: rgba(255, 255, 255, 0.6);
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        --border-color: rgba(255, 255, 255, 0.2);
        --close-btn-color: rgba(255, 255, 255, 0.85);
    }
}

/* Fonts */
@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: 400;
}
  
@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../content/fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-weight: 700;
}

body, html {
    font-family: 'Suisse Intl', Arial, sans-serif;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

::selection {
    background: tomato;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjusted columns to 2/3 and 1/3 */
    grid-template-rows: auto auto;
    grid-gap: 5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 5px 10px;
    border-radius: 30px;
    width: auto;
}

.navigation.expanded {
    bottom: 0;
    grid-template-rows: auto 1fr;
}

.menu {
    grid-column: 1 / -1;
}

.filters {
    grid-column: 1 / -1;
}

.info-menu {
    box-sizing: border-box;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    grid-column: 2 / 3; /* Adjust column positioning */
    background-color: var(--menu-color); /* Default color */
}

.info-menu.show {
    transform: translateX(0);
}

.circle-card {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-column: 1 / 2; /* Adjust column positioning */
    display: none; /* Hidden by default */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}

.circle-card.show {
    transform: translateY(0);
    display: none;
    opacity: 0;
}

.content {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.related-news-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 20px 0;
}


.related-news-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.related-news-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.related-news-card .info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: var(--text-color);
}


.menu, .filters, .info-menu, .news-tab, .card-bg, .card, .buttons button, .card-bg, .circle-card {
    background-color: var(--menu-color);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    color: var(--text-color);
}

.menu nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;  
    justify-content: space-between;
}

.menu nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 32px;
    font-weight: 700;
    transition: color 0.2s ease;
}

.menu nav ul li a:hover, .menu nav ul li a.active {
    color: tomato;
}

.category {
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
    color: var(--text-color);
}

.tags {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    color: var(--tag-color);
    white-space: nowrap;
}

.tags:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

.tag:hover, .tag.active {
    transition: color 0.2s ease;
    font-weight: 400;
    color: tomato;
}

/* New CSS for timeline elements */
.timeline-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.timeline-date {
    margin-right: 5px;
}

.timeline-bar {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    width: 100%;
    height: 10px;
}

.timeline-bar .tick {
    background-color: var(--tag-color);
    border-radius: 30px;
}

.timeline-bar .tick {
    width: 1px;
    background-color: var(--tag-color);
    border-radius: 30px;
}

.timeline-bar .tick.active {
    background-color: tomato;
}



.overlay-text {
    position: absolute;
    color: var(--overlay-text-color);
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Ensure clicks go through the text to the circle */
    transform: translate(-50%, -50%);
}

.superscript {
    font-weight: 300;
    vertical-align: super;
    margin-left: 2px;
}

/* Close button for info-menu */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none; /* No background color */
    border: none; /* No border */
    cursor: pointer;
    outline: none; /* Remove the default focus outline */
    transition: transform 0.2s ease; /* Add a slight transition for hover effect */
    color: var(--close-btn-color);
}

.close-btn:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.close-btn:before {
    content: '\00d7'; /* Unicode for multiplication sign (×) */
    font-size: 40px;
    font-weight: 100;
}

.hidden {
    display: none;
}   






/* News Tab */
.news-tab {
    box-sizing: border-box;
    grid-column: 1 / -1;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.news-tab.show {
    transform: translateY(0);
    display: block; /* Show in the layout when visible */
}

.news-tab.hide {
    transform: translateY(100%);
}

.news-tab h1 {
    font-size: 3em;
    color: var(--text-color);
    margin-top: 20px;
}

.featured-stories, .all-news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.featured-stories .card {
    width: 30%;
}

.all-news .card {
    width: 22%;
}


/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    padding: 0;
    aspect-ratio: 2.5 / 4;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Place it behind the title-info-container */
}

.card-bg {
    position: absolute;
    border-radius: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    transition: height 0.5s ease-in-out;
    z-index: 1; /* Ensure it's above the image but behind the title-info-container */
    overflow: hidden;
}

.card:hover .card-bg {
    height: 100%;
}

.card .title-info-container {
    border-radius: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 25%; /* Fixed height to 25% */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2; /* Ensure it is above card-bg */
    box-shadow: none;
    /* background-color: yellow; */
    background-color: none;
    padding: 10px 20px;
}

.card .info {
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    color: var(--tag-color);
}

.card-bg .card-content {
    position: absolute;
    top: 25%; /* Start just below the title-info-container */
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .card-bg .card-content {
    top: 25%;
    opacity: 1;
}

.card h2 {
    font-size: 2.5em; /* Initial font size */
    margin: 0;
    overflow: hidden;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.2; /* Set line height for readability */
}



.card .buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box; 
    bottom: 0px;
    width: 100%;
    padding: 10px 20px;
    z-index: 3;
}

.buttons button {
    border: none;
    cursor: pointer;
}
.card.expanded {
    display: grid;
    grid-template-rows: auto auto 1fr; /* Adjusting the grid rows to auto and 1fr */
    grid-gap: 20px;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: fixed; /* Use fixed to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;   
    z-index: 3; /* Bring to front */
    overflow: auto; /* Allow scrolling if content overflows */
    background-color: inherit; /* Inherit background color */
    border-radius: 20px;
}

.card.expanded .card-bg {
    display: none; /* Hide the card-bg in expanded mode */
}

.card.expanded .card-content {
    grid-row: 1; /* Title in the first row */
}

.card.expanded img.article-image {
    grid-row: 2; /* Image in the second row */
    width: 30%; /* Full width of the grid */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 20px;
}

.card.expanded .article-text {
    grid-row: 3; /* Text in the third row */
    width: 100%;
    overflow-y: auto; /* Scroll if content overflows */
}

.card.expanded .buttons {
    display: none; /* Hide buttons */
}

.card.expanded .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5em; /* Larger close button */
    cursor: pointer;
    z-index: 10; /* Ensure it's above other elements */
}
